/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
	========================================
	Custom styles
	========================================
*/

body {
	color: rgb(140,140,140);
	font: 300 14px/20px "Montserrat", "Helvetica", "sans-serif";
}

/*
	====================
	Backgrounds
	====================
*/
body {
  background: rgb(28,28,28);
}


/*
	========================================
	Clearfix
	========================================
*/

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}


.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
	50% { opacity: 0.25; }
}

/*
	========================================
	Grid
	========================================
*/

.grid {
	display: inline-block;
	vertical-align: top;
}

.col {
	display: inline-block;
	vertical-align: top;
}
/*
	========================================
	Typography
	========================================
*/

h1, h2, h3, h4, h5, p {
	margin-bottom: 8px;
}

h1, h2, h3, h4, h5 {
	line-height: 1.5;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

/*
	========================================
	Links
	========================================
*/

a {
	color: rgb(140,140,140);
	cursor: pointer;
	text-decoration: none;
}

/*
	========================================
	Forms/Input/Controls
	========================================
*/
button:focus,
input:focus {
	outline: none;
}

button, input {
	background: none;
	color: rgb(140,140,140);
}

button {
	cursor: pointer;
	font: 300 14px/20px "Montserrat", "Helvetica", "sans-serif";
	background: none;
	border: 1px solid rgb(140,140,140);
	border-radius: 10px; 
	color: rgb(140,140,140);
	padding: 8px;
	margin: 8px 8px 8px 0;
}

button:hover {
	border: 1px solid rgb(0,178,107);
	color: rgb(0,178,107);
	transition-duration: 0.2s;
}

.btn-danger:hover {
	border: 1px solid rgb(255,50,50);
	color: rgb(255,50,50);
	transition-duration: 0.2s;
}

input {
	font: 300 14px/20px "Montserrat", "Helvetica", "sans-serif";
	cursor: text;
}

.ChopperList::-webkit-scrollbar-track
{
	background-color: rgb(18,18,18);
	border-radius: 2px;
}

.ChopperList::-webkit-scrollbar
{
	border-radius: 10px;
	width: 4px;
	background-color: rgb(18,18,18);
}

.ChopperList::-webkit-scrollbar-thumb
{
	background-color: rgb(140,140,140);
	border: 2px solid rgb(85,85,85);
	border-radius: 10px;
}

/*
	========================================
	Modals
	========================================
*/
/*
  ----------
  Container
  ----------  
*/
.Modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.35);
	z-index: 9998;
}

.Modal-content {
	display: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
	background: rgb(38,38,38);
	border: 1.5px solid rgb(45,45,45);
    overflow: auto;
    border-radius: 1px;
    outline: none;
	z-index: 9999;
	width: 400px;
	margin-left: -150px;
	margin-right: -150px;
	padding: 24px;
	line-height: 16px;
}

.Modal-Alert-videoURLError,
.Modal-Alert-videoNameError,
.Modal-Alert-videoDeleted,
.Modal-Alert-videoAdded,
.Modal-Alert-chopAdded,
.Modal-Alert-chopUpdated,
.Modal-Alert-chopDeleted,
.Modal-Alert-chopsSaved,
.Modal-Confirmation-deleteVideo,
.Modal-Confirmation-deleteChop {
	height: 134px;
	margin-bottom: -67px;
	margin-top: -67px;
}

/*
  --------------------
  Forms/Input/Controls
  --------------------
*/
.Modal-button {
	display: inline-block;
	padding: 4px;
	margin: 0 8px 0 0;
}

.Modal-button-danger:hover {
	border: 1px solid rgb(255,50,50);
	color: rgb(255,50,50);
	transition-duration: 0.2s;	
}


/*
	========================================
	Loading
	========================================
*/
/*
  ----------
  Container
  ----------  
*/
.LoadingContainer {

}

/*
	========================================
	Base
	========================================
*/
/*
  ----------
  Container
  ----------  
*/
.Base {
	margin: 0;
	padding: 0;
	width: 100%;
}

.Base-header {
	height: 48px;
	background: rgb(28,28,28);
	border-bottom: 1px solid rgb(50,50,50);
	padding: 0 16px;
	line-height: 48px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;	
}

.Base-nav li {
	display: inline-block;
	margin: auto 0 auto 32px;
	text-transform: uppercase;
}

.Base-nav a {
	padding: 8px;
}

.Base-nav a:hover {
	color: rgb(0,178,107);
}

#Base-logo {
	font-size: 32px;
	display: inline-block;
}
/*
  ----------
   Grid
  ----------  
*/
.grid-wrapper-Base {
	display: block;
	min-width: 480px;
}

.col-Base-logo {
	width: 25%;
}

.col-Base-nav {
	width: 75%;
	text-align: right;
}
/*
	========================================
	MainContainer
	========================================
*/
/*
  ----------
  Container
  ----------  
*/
.MainContainer-container {
	display: block;
	margin: 48px auto 0 auto;
	width: 100%;
}

/*
	========================================
	LoginContainer
	========================================
*/
/*
  ----------
  Custom Styles
  ----------  
*/
.LoginContainer-errorMsg {
	color: rgb(255,50,50);
}
/*
  ----------
  Container
  ----------  
*/
.LoginContainer {
	display: block;
	height: calc(100vh + 48px);
	width: 100%;
	padding: 24px;
	text-align: center;
}

.SignupForm form {
	padding-top: 8px;
}

.LoginContainer-textWrapper {
	width: 600px;
	margin: 0 auto;
}

.LoginContainer-errorMsg {
	height: 24px;
}
/*
  --------------------
  Forms/Input/Controls
  --------------------
*/

.LoginContainer form {
	width: 600px;
	margin: 0 auto;
}

.LoginContainer input {
	background: rgb(28,28,28);
	border: 1px solid rgb(50,50,50);
	display: block;
	height: 30px;
	margin: 4px auto;
	padding: 2px 4px;
}

.LoginContainer-btn-disabled,
.LoginContainer-btn-disabled:hover {
	cursor: default;
	color: rgb(85,85,85);
	border-color: rgb(85,85,85);
}

#LoginContainer-newUser:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: rgb(0,178,107);	
}

#LoginContainer-newUser-hide {
	display: none;
}

/*
	========================================
	LogoutContainer
	========================================
*/
/*
  ----------
  Container
  ----------  
*/
.LogoutContainer {
	display: inline-block;
}
/*
  --------------------
  Forms/Input/Controls
  --------------------
*/
.LogoutForm button {
	display: inline;
	margin: none;
	padding: none;
	border: none;
	background: none;
	text-transform: uppercase;
}
/*
	========================================
	VideoOrganizerContainer
	========================================
*/

/*
  ----------
  Container
  ----------  
*/
.VideoOrganizerContainer {
	background: rgb(28,28,28);
	margin: 0 auto;
	/* height: 1728px; for 10 video items */
	height: 1140px; /* for 5 */
	width: 988px;
	padding: 24px;
}


/*
	========================================
	VideoInput
	========================================
*/
/*
  ----------
  Container
  ----------  
*/
.VideoInput {
	height: 125px;
	padding: 15px 0;
  }

/*
  ----------
  Forms/Input/Controls
  ----------  
*/
.VideoInput input {
	border: 1px solid rgb(50,50,50);
	height: 40px;
	margin: 8px 0;
	padding: 10px;
	width: 400px;
}
#VideoInput-videoURL {
	margin-left: 8px;
}

.VideoInput input:focus {
	background: rgb(28,28,28);
}

.VideoInput button {
	border: 1px solid rgb(140,140,140);
	border-radius: 20px; 
	height: 40px;
	margin: 8px 0;
	padding: 10px;
	width: 150px;	  
}

.VideoInput button:hover {
	border: 1px solid rgb(0,178,107);
	color: rgb(0,178,107);
	transition-duration: 0.2s;
}

/*
	========================================
	VideoList
	========================================
*/
/*
  ----------
  Custom styles
  ----------  
*/
.VideoList-orderController,
.VideoList-directionController,
.paginator {
	font-size: 18px;
}

/*
  ----------
  Container
  ----------  
*/
.VideoList {
	padding-top: 24px;
	margin: 0 auto;
	width: 100%;
}

.VideoList-orderAndDirection-wrapper {
	margin-bottom: 2px;
}

.VideoList-orderController,
.VideoList-directionController {
	background: rgb(38,38,38);
	border: 1px solid rgb(50,50,50);
	padding: 8px;
	width: auto;
	height: 40px;
}

.VideoList-directionController {
	margin-left: 2px;
}

.VideoList-paginator-wrapper {
	background: rgb(38,38,38);
	border: 1px solid rgb(50,50,50);
	margin: 6px 0;
	padding: 8px;
	width: 120px;
	height: 40px;
}

.VideoList-paginator-currentPage,
.VideoList-paginator-pageDivider,
.VideoList-paginator-maxPage {
	margin: 0 6px 0 6px;
}

.VideoList-paginator-currentPage,
.VideoList-paginator-maxPage {
	width: 12px;
}

.VideoList-paginator-larr {
	margin-right: 4px;
}

.VideoList-paginator-rarr {
	margin-left: 4px;
}

/*
  ----------
  Grid
  ----------  
*/
.VideoList-orderController,
.VideoList-directionController,
.VideoList-paginator-wrapper {
	display: inline-block;
}

.VideoList-paginator-larr,
.VideoList-paginator-currentPage,
.VideoList-paginator-pageDivider,
.VideoList-paginator-maxPage,
.VideoList-paginator-rarr {
	display: inline-block;
}

/*
  ----------
  Forms/Inputs/Controls
  ----------  
*/
.VideoList-orderController:hover,
.VideoList-directionController:hover,
.VideoList-paginator-wrapper:hover {
	background-color: rgb(45,45,45);
	transition-duration: 0.2s;
}

.VideoList-orderController li {
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
	text-align: left;
	text-transform: uppercase;
}

.VideoList-orderController li:hover {
	text-decoration: underline;
	text-decoration-color: rgb(0,178,107);
}

#VideoList-activeOrderBy {
	text-decoration: underline;
	text-decoration-color: rgb(0,178,107);
}

.VideoList-directionController {
	cursor: pointer;
}

#VideoList-activeDirection {
	text-decoration: underline;
	text-decoration-color: rgb(0,178,107);
}

.VideoList-paginator-larr,
.VideoList-paginator-rarr {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.VideoList-paginator-larr:hover,
.VideoList-paginator-rarr:hover {
	text-decoration: underline;
	text-decoration-color: rgb(0,178,107);
}



/*
	========================================
	VideoItem
	========================================
*/

/*
  ----------
  Custom styles
  ----------  
*/
.VideoItem,
.VideoItem input {
	font-size: 14px;
}

.VideoItem-label-name {
	font-weight: 500;
}

.VideoItem-btn-delete {
	font-size: 20px;
}

/*
  ----------
  Container
  ----------  
*/
.VideoItem {
	background: rgb(38,38,38);
	border: 1px solid rgb(45,45,45);
	padding-top: 24px;
	padding-left: 24px;
	height: 138px;
	width: 100%;
	margin: 2px auto;
}

/*
  ----------
  Grid
  ----------  
*/
.VideoItem-col-thumb {
	width: 120px;
	margin-right: 12px;
}

.VideoItem-col-info {
	width: 462px;
	margin: 0 12px;
}

.VideoItem-col-dates {
	width: 160px;
	margin-left: 12px;
}

.VideoItem-col-del {
	width: 110px;
	line-height: 90px;
	text-align: center;
	margin-right: 8px;
}
/*
  ----------
  Forms/Input/Controls
  ----------  
*/
.VideoItem:hover {
	background: rgb(45,45,45);
	transition-duration: 0.2s;
}

.VideoItem-label-name,
.VideoItem-label-videoURL,
.VideoItem-label-date,
.VideoItem input {
	height: 22px;
	padding: 0 4px;
}

.VideoItem-label-name,
.VideoItem-label-videoURL {
	cursor: pointer;
}

.VideoItem-label-name:hover,
.VideoItem-label-videoURL:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: rgb(0,178,107);
}

.VideoItem input {
	background: rgb(28,28,28);
	border: 1px solid rgb(50,50,50);
	width: 450px;
}

.VideoItem-btn-delete,
.VideoItem-btn-project {
	background: none;
	border: 1px solid rgb(140,140,140);
	border-radius: 20px; 
	color: rgb(140,140,140);
}

.VideoItem-btn-project {
	border-radius: 10px;
	display: inline-block;
	margin-top: 8px;
	padding: 8px;
}

.VideoItem-btn-project:hover {
	border: 1px solid rgb(0,178,107);
	color: rgb(0,178,107);
	transition-duration: 0.2s;
}

/*
	========================================
	ChopperContainer
	========================================
*/

/*
  ----------
  Container
  ----------  
*/
.ChopperContainer {
	background: rgb(28,28,28);
	display: block;
	margin: 48px 0 0 0;
	padding: 0;
	min-width: 988px;
	width: 100%;
}

.grid-wrapper-ChopperContainer {
	display: block;
	margin: 0;
}
/*
	========================================
	YTPlayerAndControls wrapper
	========================================
*/
/*
  ----------
  Container
  ----------
*/
.YTPlayerAndControls-wrapper {
	margin-left: 2px;
	height: calc(100vh - 48px);
}
/*
  ----------
  Grid
  ----------
*/
.col-YTPlayerAndControls-wrapper {
	width: 67%;
}
/*
	========================================
	YTPlayer wrapper
	========================================
*/
/*
  ----------
  Container
  ----------
*/
.YTPlayer-wrapper {
	background: rgb(38,38,38);
	margin-bottom: 1px;
	border-left: 1px solid rgb(50,50,50);
	border-bottom: 1px solid rgb(50,50,50);
	padding: 16px 16px 10px 16px;
}
.YTiframe {
	margin: 0px auto;
	width: 100%;
}

/*
	========================================
	ChopperControls
	========================================
*/
/*
  ----------
  Container
  ----------
*/
.ChopperControls {

}

.ChopperControls-info-wrapper {
	background: rgb(38,38,38);
	margin-bottom: 1px;
	border-bottom: 1px solid rgb(50,50,50);
	border-left: 1px solid rgb(50,50,50);
	border-top: 1px solid rgb(50,50,50);
	padding: 16px 16px 16px 16px;	
}

.ChopperControls-buttons-wrapper {
	display: inline-block;
	height: auto;
	background: rgb(38,38,38);
	border-bottom: 1px solid rgb(50,50,50);
	border-left: 1px solid rgb(50,50,50);
	border-top: 1px solid rgb(50,50,50);
}
/*
  ----------
  Custom styles
  ----------  
*/
.ChopperControls-name {
	font-size: 20px;
	line-height: 24px;
}

.ChopperControls-time {
	font-size: 16px;
}

.ChopperControls-activeChopText {
	color: rgb(0,178,107);
}
/*
  ----------
  Grid
  ----------  
*/
.grid-wrapper-ChopperControls-info {
	display: block;
}

.col-ChopperControls-name {
	width: 75%
}

.col-ChopperControls-time {
	width: 25%;
	padding-left: 16px;
}
/*
  ----------
  Forms/Input/Controls
  ----------  
*/
.ChopperControls button {
	padding: 4px 8px 4px 8px;
	margin: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 16px;
	width: 72px;
}

#ChopperControls-btn-chop {
	margin-right: 16px;
}

#ChopperControls-btn-chop-disabled {
	cursor: default;
	margin-right: 16px;
	color: rgb(85,85,85);
	border-color: rgb(85,85,85);
}

.ChopperControls-btnOLD {
	cursor: pointer;
	display: inline-block;
	padding: 12px;
	width: 100px;
	font-size: 16px;
	margin: 0;
}

/*
	========================================
	ChopperOrganizer
	========================================
*/
/*
  ----------
  Container
  ----------
*/
.ChopperOrganizer {
	background: rgb(38,38,38);
	border: 1px solid rgb(50,50,50);
	border-top: none;
	width: 100%;
	min-width: 327px;
	padding: 12px;
}
/*
  ----------
  Grid
  ----------
*/
.col-ChopperOrganizer {
	width: 33%;
}
/*
  ----------
  Forms/Input/Controls
  ----------  
*/
#ChopperOrganizer-btn-save,
#ChopperOrganizer-btn-cantSave {
	font-weight: 600;
	padding: 12px;
}

#ChopperOrganizer-btn-cantSave {
	text-decoration: line-through;
	color: rgb(85,85,85);
	border-color: rgb(85,85,85);
}

#ChopperOrganizer-btn-cantSave:hover {
	border: 1px solid rgb(85,85,85);
	color: rgb(85,85,85);
	cursor: default;
}

#ChopperOrganizer-saveNote {
	font-size: 12px;
}


/*
	========================================
	ChopperInput
	========================================
*/
/*
  ----------
  Custom styles
  ----------  
*/
/*
  ----------
  Container
  ----------  
*/
.ChopperInput {
	padding: 8px;
}
/*
  ----------
  Forms/Inputs/Controls
  ----------  
*/
.ChopperInput-edited {
	border-left: 2px solid rgb(0,178,107);
	transition-duration: 0.1s;
}

.ChopperInput input {
	background: rgb(28,28,28);
	border: 1px solid rgb(50,50,50);
	height: 30px;
	padding: 2px 4px;
}

#ChopperInput-name {
	width: 100%;
	margin-bottom: 8px;
}

.ChopperInput-timeLabel {
	display: inline-block;
	width: 40px;
}

.ChopperInput-timeInput {
	display: inline-block;
}

.ChopperInput-timeInput input {
	display: inline-block;
	width: 48px;
	margin: 2px 6px;
	padding: 4px;
	text-align: center;
}

#ChopperInput-btn-cant-submit {
	color: rgb(85,85,85);
	border-color: rgb(85,85,85);	
}

#ChopperInput-btn-cant-submit:hover {
	border: 1px solid rgb(85,85,85);
	color: rgb(85,85,85);
	cursor: default;
}

/*
	========================================
	ChopperList
	========================================
*/
/*
  ----------
  Container
  ----------
*/
.ChopperList {
	margin-top: 4px;
	width: 100%;
	min-width: 301px;
	height: calc(100vh - 298px);
	overflow-y: auto;
}

/*
	========================================
	ChopperItem
	========================================
*/
/*
  ----------
  Custom styles
  ----------  
*/
.ChopperItem {
	font-size: 14px;
}
/*
  ----------
  Container
  ----------
*/
.ChopperItem {
	cursor: pointer;
	padding: 4px 4px;
	border-top: 2px rgb(50,50,50) solid;
}
.ChopperItem-bottomrow-wrapper {
	height: 40px;
	line-height: 40px;
}
/*
  ----------
  Forms/Inputs/Controls
  ----------  
*/
.ChopperItem-name {
	font-weight: 500;
}

.ChopperItem:hover {
	background: rgb(55,55,55);
	color: white;
	transition-duration: 0.1s;
}

.ChopperItem-active {
	background: rgb(55,55,55);
	color: white;
	transition-duration: 0.1s;
}

.ChopperItem-edited {
	border-left: 2px solid rgb(0,178,107);
	transition-duration: 0.1s;
}

.ChopperItem-btn-edit-hide {
	display: none;
}

.ChopperItem-btn-edit,
.ChopperItem-btn-edit-active {
	color: white;
	border-color: white;
	margin-left: 32px;
	font-size: 12px;
	padding: 4px;
}

.ChopperItem-btn-edit-active {
	border: 1px solid rgb(0,178,107);
	color: rgb(0,178,107);
}

.ChopperItem-timeValues {
	display: inline-block;
	width: 175px;
	height: 24px;
	vertical-align: center;
}

/* DEV NOTE */
.noteContainer {
	margin: auto auto 48px auto;
	/*margin-bottom: 48px;*/
	text-align: left;
	width: 980px;
}

.noteContainer li {
	list-style-type: circle;
	list-style-position: inside;
}

.noteContainer a {
	font-weight: bold;
}

.noteContainer a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: rgb(0,178,107);	
}